---
import BaseLayout from "../../layouts/BaseLayout.astro";
import BlogCard from "../../components/blog/BlogCard.astro";
import { getBlogPost } from "../../utils/blog";
import { filterDate } from "../../utils/utils";
import type { DevToPost } from "../../types/types";

const response = await getBlogPost()
  .then((res) => res.json())
  .then((res) => res);

const posts = (await Promise.all(response)).filter((x) =>
  filterDate(new Date(x.published_at), 9)
) as unknown as DevToPost[];
---

<BaseLayout
  pageTitle="Blog"
  pageDescription="I write articles about the technologies I use the most and share my experiences!"
  heroTitle="Blog"
  heroDescription="I write articles about the technologies I use the most and share my experiences!"
>
  <section class="has-text-centered container mx-auto mt-6 mb-6">
    <div class="columns is-multiline">
      <div class="column is-12">
        {
          posts.map((post) => (
            <div class="mb-6 fade-in">
              <BlogCard
                id={post.id}
                title={post.title}
                description={post.description}
                published_at={post.published_at}
                url={post.url}
              />
            </div>
          ))
        }
      </div>
    </div>
  </section>
</BaseLayout>
