---
import BaseLayout from "../../layouts/BaseLayout.astro"; 
import GitCard from "../../components/opensource/GitCard.astro";

import openSourceProjects from "../../data/open-source-projects.json";
import { getRepoData } from "../../utils/github";
import { type GitHubRepository } from "../../types/types";

let response = openSourceProjects?.map(async ({ owner, repo }) => {
  return (await getRepoData(owner, repo))?.json();
});

let repoArray: GitHubRepository[] = (await Promise.allSettled(response)).map(
  (res: any) => res.value as GitHubRepository
);
---

<BaseLayout
  pageTitle="Open Source"
  pageDescription="Some Open Source projects that I've contributed!"
  heroTitle="Open Source"
  heroDescription="Some Open Source projects that I've contributed!"
>
  <section class="columns is-multiline mx-auto mt-6 mb-6">
    {
      repoArray.map((item) => {
        return (
          <div class="column is-one-third-desktop is-6-tablet fade-in ">
            <GitCard
              id={item.id}
              full_name={item.full_name}
              html_url={item.html_url}
              description={item.description}
              stargazers_count={item.stargazers_count}
            />
          </div>
        );
      })
    }
  </section>
</BaseLayout>
