---
import { Icon } from "astro-icon";
import { getFormattedDate, getFormattedDescription } from "../../utils/utils";

interface Props {
  id: number;
  title: string;
  description: string;
  published_at: Date;
  url: string;
}

const { id, title, description, published_at, url } = Astro.props;
---

<div class="card min-23-vh" id={String(id)}>
  <div class="media-content has-text-left h-6">
    <h4 class="title is-size-4">
      {title}
    </h4>
    <p class="subtitle is-size-5 is-flex">
      <Icon class="mr-1" size={22} name="ion:time-outline" />
      <time datetime={String(published_at)}>
        {getFormattedDate(published_at)}</time
      >
    </p>
    <div class="columns is-multiline">
      <div class="column is-12">
        <p>{getFormattedDescription(description)}</p>
      </div>
    </div>
    <div class="columns">
      <div class="column is-12">
        <a href={url}><h6 class="primary-color">Read more</h6></a>
      </div>
    </div>
  </div>
</div>
<style>
  .columns {
    margin-left: -0.75rem;
    margin-right: -0.75rem;
    margin-top: -0.75rem;
  }
</style>
